@page
@model AsignacionModel
@{
    ViewData["Title"] = "Asignacion (Alumnos)";
}
<h1>@ViewData["Title"]</h1>
<br>
<h2>Lista</h2>
<table class="table">
    <thead>
        <tr>
            <th>Alumno</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.listaAsignados)
        {
        <tr>
            <td>@item.alumnoId</td>
            <td>
                Asignado
            </td>
        </tr>
        }
        @foreach(var item in Model.listaInscritosPagaron)
        {
        <tr>
             <td>@item.alumnoId</td>
             <td>
                 Inscrito
                 <a class="btn btn-secondary btn-sm" disabled>Pagado</a>
             </td>
         </tr>
         }
        @foreach(var item in Model.listaInscritos)
        {
        <tr>
            <td>@item.alumnoId</td>
            <td>
                Inscrito
                <a class="btn btn-primary btn-sm" href="/Alumnos/Pagos?id=@item.alumnoId">Pagar</a>
            </td>
        </tr>
        }
    </tbody>
</table>

