@page
@model AtencionModel
@{
    ViewData["Title"] = "Atencion (Administradores)";
}
<h1>@ViewData["Title"]</h1>

<form method="post" action="">
    <input type="number" name="id" placeholder="Codigo">

    <button type="submit">Registrar</button>
</form>

